####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# IDE (IntelliJ / VS Code)
####################################
.idea/
.vscode/
*.iml

####################################
# Java / Gradle (Spring Boot)
####################################
**/build/
**/.gradle/
*.log

####################################
# Frontend / Web (React / Next / Vite)
####################################
node_modules/
dist/
.next/
out/

####################################
# Mobile (Android / iOS)
####################################
android/.gradle/
android/build/
android/app/build/
ios/Pods/
ios/build/
ios/.symlinks/

####################################
# Environment variables
####################################
.env
.env.local
.env.*.local

####################################
# Misc
####################################
coverage/
.tmp/
